.Bar {
    width: 700rem;
    height: 80rem;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30rem;
    margin: auto;
    z-index: 9999;
}

.TotalPrice {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 36rem;
    margin-left: 60rem;
}

.TotalPrice::before {
    content: '￥';
    font-size: 24rem;
}

.Button {
    background-color: #fcbf49;
    border: none;
    border-radius: 20px;
    width: 160rem;
    font-size: 36rem;
}